@import 'tailwindcss';
@import 'leaflet/dist/leaflet.css';

@theme {
  --color-background: #ffffff;
  --color-background-soft: #f8f8f8;
  --color-background-mute: #f2f2f2;
  --color-primary: #2a944d;
  --color-secondary: #1a5b30;

  --color-primary-hover: #247f42;
  --color-secondary-hover: #10381d;

  --color-border: rgba(60, 60, 60, 0.12);
  --color-border-hover: rgba(60, 60, 60, 0.29);

  --color-heading: #2c3e50;
  --color-text: #2c3e50;
  --color-destructive: #ff0000;

  --color-card: #f2f7f4;

  --section-gap: 160px;
}

@layer components {
  .flex-sm {
    @apply flex gap-2;
  }

  .flex-md {
    @apply flex gap-4;
  }

  .flex-lg {
    @apply flex gap-6;
  }

  .h1 {
    @apply text-3xl font-bold text-primary mb-6 items-center;
  }

  .h2 {
    @apply text-2xl font-semibold text-secondary mb-4 items-center;
  }

  .h3 {
    @apply text-xl font-medium text-secondary mb-2 items-center;
  }

  .card {
    @apply border bg-card rounded-md p-3;
  }

  .card-sybit {
    @apply bg-linear-to-br from-[#000057] to-[#c300ff] text-white p-7 rounded-md max-w-5xl;
  }

  .btn {
    @apply inline-flex
    items-center
    justify-center
    p-3 rounded-2xl
    font-medium
    transition
    cursor-pointer
    select-none
    text-white
    shadow-xs
    shadow-black
    hover:scale-[1.01];
  }

  .btn-primary {
    @apply bg-primary hover:bg-primary-hover;
  }

  .btn-secondary {
    @apply bg-secondary hover:bg-secondary-hover;
  }
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
